<!--The content below is only a placeholder and can be replaced.-->
<div class="container mx-5 my-5">
  <div class="row">
    <div class="col-4" *ngFor="let redSocial of redesSocialesList">
      <div class="card text-center border-white" (mouseenter)="animar(redSocial)" [@hover]="redSocial.animacion">
        <div class="card-body">
          <fa *ngIf="redSocial.estado" name="{{redSocial.icono}}" size="2x"></fa>
          <h5 class="card-title">{{ redSocial.nombre }}</h5>
          <p class="card-text" *ngIf="redSocial.estado">{{ redSocial.descripcion }}</p>
          <a href="#" *ngIf="redSocial.estado" class="btn btn-primary" (click)="ocultarRedSocial(redSocial)">Ocultar</a>
          <a href="#" *ngIf="!redSocial.estado" class="btn btn-primary" (click)="ocultarRedSocial(redSocial)">Mostrar</a>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
